.newTaskCardBody {
    background-color: #424165;
    box-shadow: #424242;
    height: 340px;
    width: 225px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(46, 46, 46);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
}


.newTaskCardContent {
    background-color: #2b2a4c5c;
    border-style: dashed;
    border-width: 0.5px;
    border-color: #2b2a2a;
    border-radius: 5px;
    color: #dfdad8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
    height: 225px;
    width: 190px;
    grid-area: 1 / 1 / 4 / 2;
}

.newTaskSpacerLine {
    width: 100px;
    height: 2px;
    margin-top: 18px;
    background-color: rgb(39, 39, 39);
}

.newTaskDiv1 { grid-area: 1 / 1 / 2 / 2; }
.newTaskDiv2 { grid-area: 2 / 1 / 5 / 2; }
.newTaskDiv3 { grid-area: 5 / 1 / 6 / 2; }

.newTaskButton {
    background: #00000015;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .100rem;
    box-sizing: border-box;
    color: #e4e4e4;
    cursor: pointer;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.newTaskButton:not(:disabled):hover {
    transform: scale(1.05);
}

.newTaskButton:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.newTaskButton:focus {
    outline: 0 solid transparent;
}

.newTaskButton:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.newTaskButton:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.newTaskButton:focus:not(:focus-visible):before {
    border-width: 0;
}

.newTaskButton:not(:disabled):active {
    transform: translateY(.125rem);
}