.grid-container-task {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
    row-gap: 20px;
    grid-auto-rows: minmax(200px, auto);
}

.grid-item-task {
    text-align: center;
}