.main-page {
    background-color: #EEE2DE;
    margin: 0px;
}

.grid-container-task {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    row-gap: 45px;
    column-gap: 25px;
    grid-auto-rows: minmax(200px, auto);
    margin-left: 25px;
    margin-right: 25px;
}

.grid-item-task {
    text-align: center;
}

.blank-spacer {
    height: 75px;
    width: auto;
}